.contacts-section {
	padding: 80px 0;
	background: url("../../img/contacts-bg.jpg") center / cover no-repeat;
	background-color: var(--gray-600);

	&__container {
		display: flex;
		justify-content: flex-end;
	}

	&__form {
		width: 495px;
		height: 666px;
		padding: 27px 40px 48px 40px;
		border-radius: 4px;
		border: 1px solid var(--gray-300);
		background: var(--white);
		box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(30, 33, 44, 0.08), 0 26px 24px -10px rgba(30, 33, 44, 0.10), 0 60px 80px -20px rgba(30, 33, 44, 0.16);
	}
}

.contacts-form {
	@include flex-column-center;

	&__title {
		width: 100%;
		text-align: center;
		margin-bottom: 3px;

	}

	&__field {
		margin-bottom: 20px;
	}

	&__btn {
		line-height: 44px;
	}
}

.custom-checkbox {
	@include custom-checkbox;
}

