.contacts-section {
	padding: 80px 0;
	background: url("../../img/contacts-bg.jpg") center / cover no-repeat;
	background-color: var(--gray-600);

	&__container {
		display: flex;
		justify-content: flex-end;

		@include small-tablet {
			justify-content: center;
		}
	}

	&__form {
		@include bg-large-shadow;
		width: 495px;
		min-height: 666px;
		padding: 27px 40px 48px 40px;

		@include mobile {
			width: 100%;
		}
    }
}
.contacts-form {
	@include flex-column-center;

	&__title {
		width: 100%;
		text-align: center;
		margin-bottom: 3px;

		@include tablet {
			margin-bottom: 16px;
		}
	}

	&__field {
		width: 100%;
		margin-bottom: 20px;
	}
}

.custom-checkbox {
	@include custom-checkbox;
}
