.decisions {
	// padding-top: 80px;
	padding: 80px 0 110px 0;
	background-color: var(--gray-200);
	.container {
		display: flex;
		justify-content: space-between;
	}

	&__image {
		margin-bottom: -170px;
		width: 495px;
		height: 550px;
		border-radius: 4px;

		img {
			object-fit: cover;
		}
	}

	&__content {
		width: 600px;

	}

	&__title {
		margin-bottom: 60px;
	}

	&__list {

	}

	&__item {
		position: relative;
		padding-left: 36px;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			background: url('../img/check-2.svg') center (center / cover) no-repeat;
		}
	}
}
