.footer {
	padding: 80px 0 80px 0;
	background-color: var(--gray-900);
	color: rgba(255, 255, 255, 0.6);

	&__container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(2, auto);
		row-gap: 50px;
		column-gap: 30px;
	}

	&__left {
		grid-column: 1 / 7;
	}

	&__logo {
		margin-right: 60px;
	}

	&__top {
		@include flex-v-center;
		margin-bottom: 24px;
	}

	&__descr {
		margin: 0;
		max-width: 493px;
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;
	}

	&__form {
		grid-column: 8 / 12;
	}

	&__adress {
		grid-column: 1 / 5;

	}

	&__nav {
		grid-column: 7 span;
	}


	&__copyright {
		display: flex;
		align-items: center;
		grid-column: 12 span;
		color: var(--white);
		font-size: 12px;
		font-weight: 400;
		line-height: 150%;

		svg {
			display: block;
			width: 16px;
			height: 16px;
			margin-right: 4px;
			margin-left: 4px;
			fill: var(--primary);
		}
	}
}

.social {
	display: flex;
	&__item {
		&:not(:last-child){
			margin-right: 16px;
		}

	}
	&__link {
		display: block;
		width: 24px;
		height: 24px;

		svg {
			width: 100%;
			height: 100%;
			object-fit: cover;
			fill: rgba(255, 255, 255, 0.6);
		}
	}
}

.footer-form {
	&__title {
		margin-bottom: 24px;
	}

	&__items {
		@include flex-v-center;
		margin-bottom: 16px;
	}

	.form-field {
		margin: 0;
	}
	.form-field__input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border: 1px solid rgba(255, 255, 255, 0.20);
		background: rgba(255, 255, 255, 0.12);
	}


	&__btn {
		line-height: 44px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	&__descr {
		margin: 0;
		font-size: 12px;
		font-weight: 400;
		line-height: 150%;

	}
}

.footer-adress {

	&__item {
		display: block;
		margin: 0;
		font-size: 16px;
		line-height: 160%;
		&:not(:last-child) {
			margin-bottom: 4px;
		}

		a {
			color: rgba(255, 255, 255, 0.6);
		}

	}

	&__name {
		color: var(--white);


	}
}

.footer-nav {
	display: flex;
	margin-left: 54px;

	&__col{
		&:not(:last-child){
			margin-right: 134px;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	&__link {
		color: inherit;
		font-size: 16px;
		font-weight: 400;
		line-height: 160%;
	}
}
