.form-field {
	@include flex-column-start;

	&__caption {
		margin-bottom: 8px;
		color: var(--gray-800);
		font-family: Lato;
		font-size: 14px;
		font-weight: 400;
		line-height: 150%; /* 21px */
	}

	&__input {
		border: 1px solid var(--gray-400);
		border-radius: 4px;
		width: 260px;
		height: 44px;
		padding-left: 16px;
		background: var(--gray-200);
		color: var(--gray-600);
		font-family: Lato;
		font-size: 14px;
		font-weight: 400;
		line-height: 150%; /* 21px */

		&::placeholder {
			color: var(--gray-600);
		}
	}

	&--gray {
		width: 100%;

		.form-field__input {
			width: 100%;
		}
	}

	&--big {
		flex-grow: 1;

		.form-field__input {
			width: 100%;
		}
	}

	textarea {
		height: 66px;
		resize: none;
		padding-top: 10px;
	}

}
