.header-contacts {
	@include flex-v-center;

	&__link {
		@include flex-column-start;

		&:not(:last-child){
			margin-right: 36px;
		}
	}
}

.contacts-link {
	padding-left: 52px;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 40px 40px;

	&__caption {
		font-family: Lato;
		font-size: 14px;
		font-weight: 700;
		line-height: 150%;
		color: var(--gray-800);
	}

	&__value {
		font-size: 18px;
		line-height: 150%;
		color: var(--gray-900);
		transition: color 0.3s ease-in;
	}

	&--call {
		background-image: url("../img/phone.svg");

	}

	&--mail {
		background-image: url("../img/chat.svg");
	}

	&:focus {
		outline: 2px solid var(--primary);
		outline-offset: 2px;
	}

	&:hover {
		.contacts-link__value {
			color: var(--hover);
		}
	}

	&:active {
		.contacts-link__value {
			color: var(--active);
		}
	}
}
