@use "mixins/breakpoint" as *;
@use "mixins/checkbox" as *;
@use "mixins/font-face" as *;
@use "mixins/flex" as *;
@use "mixins/disable-mob-hover" as *;
@use "mixins/shadows" as *;
@use "fonts" as *;

.header {
	padding: 22px 0;

	&__container {
		@include flex-all-sb;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		gap: 120px;
	}

	&--main {
		color: var(--white);
	}

	&--secondary {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
	}
}

.logo {
	img {
		width: 100%;
		object-fit: cover;
	}
}

.nav {
	&__list {
		@include flex-v-center;
	}

	&__link {
		font-weight: 700;
		font-size: 16px;
		line-height: 160%;
		padding: 8px 16px;
		color: var(--gray-800);
		display: flex;
		align-items: center;
		gap: 4px;
		transition: color 0.3s ease-in;

		&--current {
			color: var(--primary);
		}

		&--drop {
			font-weight: 400;
		}
	}

	&__item {
		position: relative;
	}
}

.header-contacts {
	@include flex-v-center;
	gap: 36px;

	&__link {
		@include flex-column-start;
	}
}

.contacts-link {
	padding-left: 52px;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 40px 40px;

	&__caption {
		font-size: 14px;
		font-weight: 700;
		line-height: 150%;
		color: var(--gray-800);
	}

	&__value {
		font-size: 18px;
		line-height: 150%;
		color: var(--gray-900);
		transition: color 0.3s ease-in;
	}

	&--call {
		background-image: url("../img/phone.svg");
	}

	&--mail {
		background-image: url("../img/chat.svg");
	}
}

.burger {
	position: relative;
	display: none;
	width: 30px;
	height: 18px;
	z-index: 100;
	cursor: pointer;

	span{
		position: absolute;
		top: calc(50% - 1px);
		left: 0;
		width: 100%;
		height: 2px;
		background: var(--gray-900);
		transition: all 0.5s ease;

		&:first-child {
			top: 0;
		}

		&:last-child {
			top: auto;
			bottom: 0;
		}
	}

	&--active {
		span {
			&:nth-child(1) {
				top: calc(50% - 1px);
				transform: rotate(-45deg);
			}

			&:nth-child(2) {
				transform: scale(0);
			}

			&:nth-child(3) {
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
		}
	}

	&::after {
		content: "";
		background: url("../img/burger-bg.svg") center (center / cover) no-repeat;
		position: absolute;
		display: block;
		top: -11px;
		left: -5px;
		width: 40px;
		height: 40px;
		z-index: -1;
	}
}

.dropdown {
	transition: background 0.6s ease-in-out;

	&__icon {
		fill: var(--primary);
		height: 18px;
		width: 18px;
		margin-top: 4px;
		transition: fill 0.3s ease, transform 0.3s ease;
	}

	&:hover {
		background: var(--white);
	}
}

.dropdown-menu {
	position: absolute;
	left: 0;
	top: 40px;
	width: 190px;
	background-color: var(--white);
	padding-bottom: 16px;
	display: grid;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 60;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
}

.lock {
	overflow: hidden;
}


//RESPONSIVE
@include small-desktop {
	.header__nav {
		gap: 36px;
	}

	.logo {
		max-width: 80px;
	}

	.contacts-link {
		padding-left: 40px;
		background-size: 30px 30px;
	}
	.contacts-link__value {
		font-size: 16px;
	}
}

@media (min-width: (993px)) {

	.nav__item-mobile {
		display: none;
	}
	.nav__item:hover .dropdown-menu {
		opacity: 1;
		visibility: visible;
	}
	.nav__item:hover .dropdown__icon {
		transform: rotate(-90deg);
	}

	.nav__link:hover {
		color: var(--hover);
		svg {
			fill: var(--hover);
		}
	}

	.nav__link:active {
		color: var(--active);
	}

	.contacts-link:hover {
		.contacts-link__value {
			color: var(--hover);
		}
	}
	.contacts-link:active {
		.contacts-link__value {
			color: var(--active);
		}
	}
}

@include tablet {
	.burger {
		display: block;
	}

	.logo {
		max-width: 100px;
	}

	.nav {
		position: fixed;
		padding: 40px;
		top: 0;
		left: -100%;
		width: 50%;
		height: 100vh;
		background: var(--white);
		display: grid;
		justify-content: start;
		justify-items: start;
		gap: 24px;
		transition: all 0.6s ease;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 80;

		&__list {
			flex-direction: column;
			align-items: flex-start;
		}

		&__link {
			font-size: 20px;
		}

		&__item-mobile {
			display: block;
		}
	}

	.header-contacts  {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	.nav__link--drop {
		&:hover {
			color: var(--active);
		}
	}
	.dropdown-menu {
		position: initial;
		width: 100%;
		padding: 16px;
		opacity: 0;
		visibility: hidden;
		display: none;
		transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
	}

	.dropdown.active {
		color: var(--hover);
	}

	.dropdown-menu.active {
		opacity: 1;
		visibility: visible;
		display: grid;
	}

	.dropdown__icon.active {
		transform: rotate(-90deg);
	}

	.nav.open {
		left: 0;
		transition: all 0.3s;
	}

	.overlay.open {
		opacity: 1;
		visibility: visible;
		transition: all 0.3s;
	}
}

@include small-tablet {
	.nav {
		width: 80%;
	}
}

@include mobile {
	.nav {
		width: 100%;
	}
}
