//h1
.hero-title {
	margin: 0;
	margin-bottom: 24px;
	color: var(--gray-900);
	font-family: "GothamPro";
	font-size: 72px;
	font-weight: 700;
	line-height: 130%;
	text-transform: uppercase;
	letter-spacing: 1px;

	&--white {
		color: var(--white);
	}
}

//h2
.title {
	margin: 0;
	margin-bottom: 24px;
	font-family: "GothamPro";
	color: var(--gray-900);
	font-size: 46px;
	font-weight: 700;
	line-height: 130%;


	&--center {
		text-align: center;
	}

	&--h3 {
		font-size: 32px;
		line-height: 150%;
	}

	&--h4 {
		font-size: 28px;
		line-height: 150%;
	}

	&--h5 {
		font-size: 20px;
		line-height: 150%;
	}

	&--h5-white {
		font-size: 20px;
		color: var(--white);
	}


	&--white {
		font-size: 24px;
		color: var(--white);
	}
}

.title-footer {
	margin: 0;
	margin-bottom: 14px;
	color: var(--white);
	font-family: "GothamPro";
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;

}


.hero-descr {
	margin: 0;
	color: var(--gray-700);
	font-family: "GothamPro";
	font-size: 20px;
	font-weight: 400;
	line-height: 150%;

	&--white {
		color: var(--white);
	}

	@include small-tablet {
		font-size: 18px;
	}
}

.descr {
	margin: 0;
	margin-bottom: 60px;
	font-family: "GothamPro";
	color: var(--gray-700);
	font-size: 18px;
	font-weight: 400;
	line-height: 150%;

	&--center {
		text-align: center;
	}
}

.main-text {
	margin: 0;
	color: var(--gray-700);
	font-size: 16px;
	font-weight: 400;
	line-height: 160%;
}

.small-text {
	margin: 0;
	color: var(--gray-700);
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
}

@include tablet {
	.hero-title {
		font-size: 64px;
	}

	.title {
		font-size: 38px;

		&--h3 {
			font-size: 28px;
		}

		&--h4 {
			font-size: 24px;
		}

		&--h5 {
			font-size: 20px;
		}

		&--h5-white {
			font-size: 20px;
		}

		&--white {
			font-size: 24px;
		}
	}

	.descr {
		margin: 0 auto;
		width: 80%;
		margin-bottom: 50px;
	}
}

@include small-tablet {
	.hero-title {
		font-size: 52px;
	}

	.title {
		font-size: 32px;

		&--h3 {
			font-size: 28px;
		}

		&--h4 {
			font-size: 24px;
		}

		&--h5 {
			font-size: 20px;
		}

		&--white {
			font-size: 24px;
		}

		&--h5-white {
			font-size: 20px;
		}

	}
}

@include mobile {
	.hero-title {
		font-size: 42px;
	}

	.title {
		font-size: 28px;
		margin-bottom: 16px;

		&--h3 {
			font-size: 24px;
		}

		&--h4 {
			font-size: 22px;
		}

		&--h5 {
			font-size: 20px;
		}

		&--white {
			font-size: 22px;
		}

		&--h5-white {
			font-size: 22px;
		}

	}
}
