.header {
	padding: 22px 0;

	&__container {
		@include flex-all-sb;
	}

	&__nav {
		margin-left: -100px;
	}

	&--main {
		color: var(--white);
	}

	&--secondary {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
	}


}
