.hero {
	padding: 220px 0;
	background-color: var(--gray-800);
	background-image: url("../img/bg-image.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&__content {
		width: 620px;
	}

	&__title {
		span {
			color: var(--primary);
		}
	}

	&__descr {
		margin-bottom: 50px;
	}

	&__btns {
		button {
			&:not(:last-child) {
				margin-right: 24px;
			}
		}
	}
}

@include tablet {
	.hero {
		padding: 150px 0;
	}
}

@include mobile {
	.hero {
		padding: 80px 0;

		&__content {
			width: 400px;
		}

		&__descr {
			margin-bottom: 36px;
		}

		&__btns {
			button {
				&:not(:last-child) {
					margin-bottom: 24px;
					margin-right: 0;
				}
			}
		}
	}
}
