.hero {
	background-color: var(--gray-800);
	background-image: url("../img/bg-image.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&__content {
		padding: 220px 0;
		max-width: 590px;

	}
}

.main-title {
	margin-bottom: 24px;
	margin: 0;
	color: var(--gray-900);
	font-size: 72px;
	font-weight: 700;
	line-height: 130%;
	letter-spacing: 1px;
	text-transform: uppercase;

		span {
			color: var(--primary);
		}

		&-home {
			color: var(--white);
		}

}

.main-descr {
	margin: 0;
	color: var(--gray-700);
	font-size: 20px;
	font-weight: 400;
	line-height: 150%;

	&-home {
		margin-bottom: 31px;
		color: var(--white);
	}

}

.hero__btns {
	.btn {
		&:not(:last-child) {
			margin-right: 24px;
		}
	}
}
