@use "mixins/breakpoint" as *;
@use "mixins/checkbox" as *;
@use "mixins/font-face" as *;
@use "mixins/flex" as *;
@use "mixins/disable-mob-hover" as *;
@use "mixins/shadows" as *;
@use "fonts" as *;
.hero {
	padding: 180px 0;
	background-color: var(--gray-800);
	background-image: url("../img/hero-bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&__content {
		width: 620px;
	}

	&__title {
		span {
			color: var(--primary);
		}
	}

	&__descr {
		margin-bottom: 50px;
	}

	&__btns {
		display: inline-flex;
		gap: 24px;
		flex-wrap: wrap;
	}
}

@include tablet {
	.hero {
		padding: 150px 0;

		&__content {
			width: 85%;
		}
	}
}

@include small-tablet {
	.hero {
		&__content {
			width: 100%;
		}

		&__descr {
			margin-bottom: 36px;
		}
	}
}

@include mobile {
	.hero {
		&__title {
			font-size: 32px;
		}

		&__descr {
			margin-bottom: 36px;
		}
	}
}
