.learn-more {
	@include flex-all-center;
	gap: 40px;


	&__subtitle {
		margin-bottom: 0;
		max-width: 50%;
	}
}

@include mobile {
	.learn-more {
		flex-direction: column;
		justify-content: center;
		gap: 24px;

		&__subtitle {
			margin: 0;
			max-width: 100%;
		}
	}
}


