.nav {
	&__list {
		@include flex-v-center;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 40px;
		}
	}
	&__link {
		font-family: Lato;
		font-weight: 700;
		font-size: 16px;
		line-height: 160%;
		color: var(--gray-800);

		&--current {
			color: var(--primary);
		}
	}

}
