.nav {
	&__list {
		@include flex-v-center;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 40px;
		}
	}

	&__link {
		font-family: Lato;
		font-weight: 700;
		font-size: 16px;
		line-height: 160%;
		color: var(--gray-800);
		transition: color 0.3s ease-in;

		&--current {
			color: var(--primary);
		}

		&:focus {
			outline: 2px solid var(--primary);
			outline-offset: 2px;
		}

		&:hover {
			color: var(--hover);
		}

		&:active {
			color: var(--active);
		}
	}
}
