@use "mixins/breakpoint" as *;
@use "mixins/checkbox" as *;
@use "mixins/font-face" as *;
@use "mixins/flex" as *;
@use "mixins/disable-mob-hover" as *;
@use "mixins/shadows" as *;
@use "fonts" as *;
.offer {
	padding: 120px 0 180px 0;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		gap: 60px;
	}

	&__image {
		height: 480px;
		border-radius: 4px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.content {
	display: flex;
	flex-direction: column;
	max-width: 420px;

	&__title {
		margin-bottom: 60px;
	}
}

.accordion {
	margin-bottom: 24px;

	&__title {
		padding-left: 44px;
		position: relative;
		display: flex;
		justify-content: space-between;
		cursor: pointer;

		.title--h4 {
			margin-bottom: 16px;
		}
	}

	&__content {
		overflow: hidden;
		padding-left: 44px;
		box-sizing: content-box;
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		transition: max-height 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
	}

	span {
		position: absolute;
		left: 0;
		top: 10px;
		width: 24px;
		height: 24px;

		&::before, &::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			border-radius: 2px;
			top: 50%;
			left: 0;
			background: var(--primary);
			transition: all 0.5s ease-out;
		}

		&::before {
			transform: translateY(-50%);
		}

		&::after {
			transform: translateY(-50%) rotate(90deg);

		}
	}
}

.accordion__content.active {
	visibility: visible;
	opacity: 1;
	transition: max-height 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}


.accordion__title.active span {

	&::after{
		transform: translateY(-50%) rotate(0);
	}

	&:before {
		transform: translatey(-50%) rotate(-90deg);
		opacity: 0;
	}
}

@include tablet {
	.offer {
		padding: 80px 0;

		&__wrapper {
			gap: 60px;
		}
	}

	.content {
		max-width: 50%;

		&__title {
			margin-bottom: 40px;
		}
	}

	.accordion__title {
		max-width: 80%;
	}
}

@include small-tablet {
	.offer {
		padding: 60px 0;

		&__wrapper {
			@include bg-small-shadow;
			padding: 24px;
			display: block;
		}

		&__image {
			display: none;
		}

		.content {
			max-width: 100%;

			&__title {
				margin-bottom: 40px;
			}
		}
	}

	.accordion {
		span {
			top: 6px;
		}
	}
}

