.page-hero {
	padding: 130px 0 180px 0;
	min-height: 600px;
	background-color: var(--gray-200);


	&__breadcrumbs {
		margin-bottom: 40px;
	}

	&__content {
		max-width: 600px;
	}

	&__title {
		margin-bottom: 24px;

		&--mb60 {
			margin-bottom: 60px;
		}

	}

	&--services {
		background: url("../img/services/background.png") center center / cover no-repeat;
	}

	&--services-detail {
		padding: 130px 0 80px 0;
		background: url("../img/services-detail/bg.png") center center / cover no-repeat;
		.page-hero__breadcrumbs {
			margin-bottom: 35px;
		}
	}

	&--work {
		background: url("../img/work-bg.jpg") center center / cover no-repeat;
		.page-hero__breadcrumbs {
			margin-bottom: 53px;
		}
	}

	&--work-detail {
		background: url("../img/work-detail-bg.png") right no-repeat;
		padding: 130px 0 0 0;
	}

}


