.partners {
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 70px;
	background-color: var(--gray-200);
	&--services {
		padding-top: 0;
		padding-bottom: 110px;
	}
	&--work {
		padding-top: 180px;
		background-color: var(--white);
	}

	&__title {
		margin-bottom: 60px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		-webkit-filter: grayscale(1);

		&:hover {
			-webkit-filter: grayscale(0);
		}
	}
}

