.partners {
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 70px;
	background-color: var(--gray-200);

	&--services {
		padding-top: 0;
		padding-bottom: 110px;
	}
	&--work {
		padding-top: 180px;
		background-color: var(--white);
	}

	&__title {
		margin-bottom: 60px;
	}

	&__list {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&__logo {
		-webkit-filter: grayscale(1);

		&:hover {
			-webkit-filter: grayscale(0);
		}
	}
}

@include small-tablet {
	.partners {
		padding-top: 60px;
		padding-bottom: 40px;

		&__list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: auto;
			gap: 30px;
			justify-items: center;
			grid-auto-rows: auto;
		}
	}
}

@include mobile {
	.partners {
		&__list {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}


