@use "mixins/breakpoint" as *;
@use "mixins/checkbox" as *;
@use "mixins/font-face" as *;
@use "mixins/flex" as *;
@use "mixins/disable-mob-hover" as *;
@use "mixins/shadows" as *;
@use "fonts" as *;

.portfolio {
	padding-bottom: 100px;
	margin-top: -60px;
}

.portfolio-tabs-nav {
	display: grid;
	grid-template-columns: repeat(5, minmax(100px, 230px));
	column-gap: 20px;
	margin-bottom: 60px;

	&__btn {
		@include flex-column-center;
		@include bg-small-shadow;
		width: 100%;
		height: 100%;
		padding: 32px 16px;
		transition: 0.5s ease-in-out;

		&--active {
			background: var(--primary);
			pointer-events: none;

			.portfolio-tabs-nav__icon {
				fill: var(--white);
			}

			.portfolio-tabs-nav__text {
				color: var(--white);
			}
		}
	}

	&__icon {
		display: block;
		width: 48px;
		height: 48px;
		margin-bottom: 16px;
		fill: var(--primary);
		transition: fill 0.5s ease-in-out;
		pointer-events: none;
	}

	&__text {
		margin: 0;
		color: var(--gray-600);
		font-family: "GothamPro";
		font-size: 16px;
		font-weight: 900;
		text-align: center;
		transition: color 0.5s ease-in-out;
		pointer-events: none;
	}
}

.portfolio-tabs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-bottom: 60px;

	&__item {
		display: none;

		&--visible {
			display: block;
		}

		&--visible-more {
			display: block !important;
		}
	}
}

.portfolio-btn {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 0 30px;
	color: var(--gray-800);
	font-size: 16px;
	font-weight: 700;
	line-height: 44px;
	transition: color 0.3s ease-in;

	svg {
		width: 24px;
		height: 24px;
		fill: var(--gray-800);
		margin-right: 16px;
		transition: fill 0.3s ease-in;
	}

	&:hover {
		color: var(--primary);

		svg {
			fill: var(--primary);
		}
	}
}

.portfolio-tabs-nav__btn {
	&:hover {
		.portfolio-tabs-nav__text {
			color: var(--gray-900);
		}
	}
}

@include tablet {
	.portfolio-tabs-nav {
		&__btn {
			padding: 16px;
		}

		&__icon {
			width: 40px;
			height: 40px;
		}

		&__text {
			color: var(--gray-900);
		}
	}
}

@include small-tablet {
	.portfolio {
		padding-bottom: 60px;
		margin-top: -36px;
	}

	.portfolio-tabs-nav {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 60px);
		grid-auto-rows: 60px;
		gap: 8px;

		&__btn {
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			gap: 10px;
			padding: 16px;
		}

		&__icon {
			width: 20px;
			height: 20px;
			margin-bottom: 0;
		}

		&__text {
			text-align: start;
			color: var(--gray-900);
		}
	}

	.portfolio-tabs {
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 40px;
	}
}

@include mobile {
	.portfolio-tabs-nav {
		grid-template-columns: repeat(2, 1fr);
	}

	.portfolio-tabs-nav__icon {
		display: none;
	}
	.portfolio-tabs {
		grid-template-columns: repeat(1, 1fr);
	}
}


