.portfolio-item {
	overflow: hidden;
	// @include flex-column-center;
	display: flex;
	flex-direction: column;
	@include bg-small-shadow;
	&__image {
		width: 390;
		height: 345px;
		object-fit: cover;
		transition: 0.5s ease-out;
	}

	&__content {
		@include flex-column-center;
		padding: 16px 20px 24px 20px;
	}

	&__title {
		margin-bottom: 4px;
	}

	&__btn {
		margin-top: 24px;
		margin-bottom: -70px;
		padding: 0 32px;
		transition: 0.5s ease-out;
		will-change: margin;

	}

	&:hover {
		.portfolio-item__btn {
		  margin-bottom: 0;
		}

		.portfolio-item__image {
			height: 277px;

		}
	}
}



