.project-goal {
	padding: 100px 0 120px 0;

	.container {
		display: flex;
		justify-content: space-between;
		gap: 40px;
	}

	&__left {
		padding-top: 40px;
		max-width: 50%;
	}

	&__text {
		margin: 0;
		font-family: "GothamPro";
		color: var(--gray-800);
		font-size: 18px;
		font-weight: 400;
		line-height: 150%;

		&:not(:last-child) {
			margin-bottom: 32px;

			@include tablet {
				margin-bottom: 24px;
			}
		}
	}

	&__right {
		width: 495px;

	}
}

.project-info {
	@include bg-small-shadow;
	padding: 40px 57px;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		gap: 24px;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__category {
		width: 104px;
		margin: 0;
		color: var(--gray-900);
		font-family: "GothamPro";
		font-size: 16px;
		font-weight: 700;
		line-height: 160%;
		text-transform: uppercase;


	}

	&__value{
		width: 245px;
		margin: 0;
		color: var(--gray-700);
		font-size: 16px;
		font-weight: 400;
		line-height: 160%;
	}
}

@include tablet {
	.project-goal {
		padding: 40px 0 80px 0;

		&__left {
			padding-top: 24px;
		}
	}

	.project-info {
		padding: 40px;

		&__value {
			width: 180px;
		}
	}
}

@include small-tablet {
	.project-goal {
		.container {
			flex-direction: column;
		}

		&__left {
			max-width: 100%;
		}

		&__right {
			width: 100%;

		}
	}
	.project-info {

		&__item {
			justify-content: start;
			gap: 50px;
		}

		&__category {
			font-size: 14px;
		}

		&__value {
			width: 240px;
		}
	}
}

@include mobile {
	.project-info {

		&__item {
			gap: 24px;
		}
	}
}
