.projects {
	padding: 90px 0 125px 0;

	&--work {
		padding: 180px 0 120px 0;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 30px;
	}

	&__slider-nav {
		transform: translateX(12px);
	}

	&__title {
		width: 705px;
	}

	&__items {
		display: flex;
		height: auto;
		margin: 0;
		margin-bottom: -20px;
		padding: 0 15px 100px 15px; //вирішує проблему обрізки тіней
	}
}

.swiper-wrapper {
	box-sizing: border-box;
}

@include tablet {
	.projects {
		padding: 80px 0 100px 0;

		&__top {
			align-items: center;
			margin-bottom: 30px;
		}

		&__title {
			margin-bottom: 0;
		}
		&--work {
			padding: 80px 0;
		}

		&__top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 30px;
		}

		&__slider-nav {
			transform: translateX(0);
		}
	}
}

@include small-tablet {
	.projects {

		&--work {
			padding: 60px 0;
		}

		&__items {
			padding: 0 15px 80px 15px;
		}
	}
}

