.recent-news {
	padding: 180px 0 85px 0;

	&__title {
		margin-bottom: 60px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(2, auto);
		gap: 30px;
	}

	&__item {
		grid-column: 5 span;

		&:first-child{
			grid-column: 7 span;
			grid-row: 2 span;
		}
	}
}

.recent-article {
	@include bg-small-shadow;
	overflow: hidden;
	height: 100%;

	&__content {
		padding: 24px;
	}

	&__image {
		display: block;
		width: 100%;
		object-fit: cover;
	}

	&__title {
		margin: 0;
	}

	&__link {
		display: block;
		margin-bottom: 13px;
		transition: color 0.3s ease-in;

		&:hover {
			color: var(--primary);
		}

		&:active {
			color: var(--active);
		}
	}

	&__text {
		margin-top: 16px;
	}

	&--small {
		.recent-article__text {
			display: none;
		}

		.recent-article__content {
			padding: 16px 24px 24px 24px;
		}
	}
}


.article-meta {

	&__item {
		position: relative;
		color: var(--gray-700);
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;

		&:not(:last-child) {
			margin-right: 24px;

			&::after {
				content:"";
				position: absolute;
				right: -12px;
				top: 4px;
				width: 1px;
				height: 10px;
				background: var(--gray-700);
			}
		}

		&--comments {
			padding-left: 24px;
			background-image: url("../img/comments.svg");
			background-position: left center;
			background-size: 16px 16px;
			background-repeat: no-repeat;
		}
	}
}

.recent-news__learn {
	margin-top: 85px;
}

@include tablet {
	.recent-news {
		padding: 80px 0 60px 0;
	}
}

@include mobile {
	.recent-news {
		padding: 60px 0 40px 0;

		&__items {
			display: flex;
			flex-direction: column;
		}

		&__learn {
			margin-top: 40px;
		}
	}

	.recent-article {

		&__image {
			height: 170px;
		}

		&--small {
			.recent-article__text {
				display: block;
			}

			.recent-article__content {
				padding: 24px;
			}
		}
	}
}
