.services {
	position: relative;
	padding: 120px 0 180px 0;

	&__list {
		display: grid;
		grid-template-rows: repeat (4, auto);
		row-gap: 120px;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 80px;

		&--revers {
			flex-direction: row-reverse;
		}
	}

	&__image {
		width: 100%;
		height: 420px;
		border-radius: 4px;
		object-fit: cover;
	}

	&__content {
		width: 100%;
		min-height: 242px;
	}

	&__text {
		margin-bottom: 48px;
	}

	&__link {
		display: inline-block;
		background: var(--white);
	}
}

.services-bg-1 {
	position: fixed;
	z-index: -5;
	right: 0;
	top: 420px;
}

.services-bg-2 {
	position: fixed;
	z-index: -5;
	left: -250px;
	bottom: -260px;
}

@include tablet {
	.services {
		padding: 80px 0 80px 0;

		&__list {
			row-gap: 80px;
		}

		&__item {
			gap: 50px;
		}
	}
}

@include small-tablet {
	.services {
		padding: 80px 0 80px 0;

		&__list {
			row-gap: 80px;
		}

		&__item {
			gap: 36px;
		}

		&__image {
			height: 360px;

		}

		&__text {
			margin-bottom: 36px;
		}
	}
}

@include mobile {
	.services {
		padding: 60px 0 60px 0;

		&__list {
			row-gap: 70px;
		}

		&__item {
			flex-direction: column;
			align-items: flex-start;
			gap: 36px;
			&--revers {
				flex-direction: none;
			}
		}

		&__image {
			height: 220px;

		}
	}
}


