.testimonials {
	padding-top: 70px;
	background-color: var(--gray-200);

	&__container {
		display: flex;
		justify-content: space-between;
		gap: 40px;
	}

	&__content {
		max-width: 600px;
	}


	&__title {
		margin-bottom: 30px;

	}

	&__items {
		position: relative;
	}

	&__slider-nav {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	&__image {
		object-fit: cover;
		margin-bottom: -60px;
	}
}

.testimonials-item {
	padding-right: 12px; // чтобы ховер кнопок не обрезало
	padding-bottom: 12px;

	&__image {
		width: 72px;
		height: 72px;
		margin-bottom: 24px;
		border-radius: 100%;
		overflow: hidden;

		img {
			display: block;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__text {
		margin-bottom: 24px;
	}

	&__author {
		display: block;
		margin-bottom: 4px;
		padding-right: 120px;
		color: var(--gray-900);
		font-size: 16px;
		font-weight: 700;
		line-height: 160%;
	}

	&__author-position {
		display: block;
		padding-right: 120px;
		color: var(--gray-700);
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;
	}
}

@include tablet {
	.testimonials {
		padding-bottom: 40px;

		&__content {
			min-width: none;
			max-width: 50%;
		}

		&__image {
			max-width: calc(50% - 40px);
		}
	}
}

@include small-tablet {
	.testimonials {
		&__container {
			gap: 0;
		}

		&__content {
			max-width: 100%;
		}

		&__title {
			width: 80%;

		}

		&__image {
			display: none;
		}
	}
}
