<section class="offer">
	<div class="container">
		<div class="offer__wrapper">
			<div class="offer__image">
				<img src="../img/services-detail/offer.jpg" alt="offer">
			</div>
			<div class="content">
				<h2 class="content__title title title--h2">We offer</h2>
				<div class="accordion">
					<div data-tab="tab-1" class="accordion__title">
						<span></span>
						<h4 class="title title--h4">Interior design of &nbsp; apartments</h4>

					</div>
					<div id="tab-1" class="accordion__content main-text">
						Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
					</div>
				</div>
				<div class="accordion">
					<div data-tab="tab-2" class="accordion__title">
						<span></span>
						<h4 class="title title--h4">Interior design of private houses</h4>

					</div>
					<div id="tab-2" class="accordion__content main-text">
						Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
					</div>
				</div>

			</div>
		</div>

	</div>
</section>
