<section class="partners">
	<div class="container">
		<h2 class="partners__title title title--center">Supported by 12+ partners</h2>
		<div class="partners__list">
			<div class="partners__item">
				<a href="#" class="partners__link">
					<img src="../img/partners/client-logo-1.png" alt="Logo 1" class="partners__logo">
				</a>
			</div>
			<div class="partners__item">
				<a href="#" class="partners__link">
					<img src="../img/partners/client-logo-2.png" alt="Logo 2" class="partners__logo">
				</a>
			</div>
			<div class="partners__item">
				<a href="#" class="partners__link">
					<img src="../img/partners/client-logo-3.png" alt="Logo 3" class="partners__logo">
				</a>
			</div>
			<div class="partners__item">
				<a href="#" class="partners__link">
					<img src="../img/partners/client-logo-4.png" alt="Logo 4" class="partners__logo">
				</a>
			</div>
			<div class="partners__item">
				<a href="#" class="partners__link">
					<img src="../img/partners/client-logo-5.png" alt="Logo 5" class="partners__logo">
				</a>
			</div>
			<div class="partners__item">
				<a href="#" class="partners__link">
					<img src="../img/partners/client-logo-6.png" alt="Logo 6" class="partners__logo">
				</a>
			</div>
		</div>
	</div>
</section>
