<section class="recent-news">
	<div class="container">
		<h2 class="recent-news__title title title--center">Recent news</h2>
		<div class="recent-news__items">
			<div class="recent-news__item">
				<article class="recent-article">
					<img class="recent-article__image" src="../img/article/article-1.jpg" alt="Article 1">
					<div class="recent-article__content">
						<h5 class="recent-article__title">
							<a href="#" class="recent-article__link title title--h5">How to Build Climate Change-Resilient Infrastructure</a>
						</h5>
						<div class="recent-article__meta article-meta">
							<a href="#" class="article-meta__item">Industry News</a>
							<time class="article-meta__item" datetime="2023-06-24">June 24, 2020</time>
							<span class="article-meta__item article-meta__item--comments">4 comments</span>
						</div>
						<p class="recent-article__text">
							Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
						</p>
					</div>
				</article>
			</div>
			<div class="recent-news__item">
				<article class="recent-article recent-article--small">
					<img class="recent-article__image" src="../img/article/article-2.jpg" alt="Article 1">
					<div class="recent-article__content">
						<h5 class="recent-article__title">
							<a href="#" class="recent-article__link title title--h5">How Construction Can Help Itself</a>
						</h5>
						<div class="recent-article__meta article-meta">
							<a href="#" class="article-meta__item">Innovation</a>
							<time class="article-meta__item" datetime="2023-06-24">June 24, 2020</time>
							<span class="article-meta__item article-meta__item--comments">No comments</span>
						</div>
						<p class="recent-article__text">
							Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
						</p>
					</div>
				</article>
			</div>
			<div class="recent-news__item">
				<article class="recent-article recent-article--small">
					<img class="recent-article__image" src="../img/article/article-3.jpg" alt="Article 1">
					<div class="recent-article__content">
						<h5 class="recent-article__title">
							<a href="#" class="recent-article__link  title title--h5">Types of Flooring Materials</a>
						</h5>
						<div class="recent-article__meta article-meta">
							<a href="#" class="article-meta__item">Company News</a>
							<time class="article-meta__item" datetime="2023-06-24">June 24, 2020</time>
							<span class="article-meta__item article-meta__item--comments">No comments</span>
						</div>
						<p class="recent-article__text">
							Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
						</p>
					</div>
				</article>
			</div>
		</div>
	</div>

	<div class="recent-news__learn learn-more">
		<h4 class="learn-more__subtitle title title--h4">Explore all our news posts</h4>
		<a href="#" class="btn-reset learn-more__btn btn btn--fill-primary">View all news</a>
	</div>
</section>
