<section class="services">
	<img src="../img/services/bg-image-1.png" alt="" aria-hidden="true" class="services-bg-1">
	<img src="../img/services/bg-image-2.png" alt="" aria-hidden="true" class="services-bg-2">
	<div class="container">
		<div class="services__list">
			<div class="services__item">
				<div class="services__image">
					<img src="../img/services/services-1.jpg" alt="Construction" class="services__image">
				</div>

				<div class="services__content">
					<h3 class="services__title title title--h3">Construction</h3>
					<p class="services__text main-text">
						Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id sodales ultricies sed ut ut augue. Mattis habitant venenatis, gravida posuere massa ac interdum. Eget aliquam dignissim ut vestibulum.
					</p>
					<a href="#" class="services__link btn-reset btn-stroke btn-stroke--md">Learn more</a>
				</div>
			</div>
			<div class="services__item services__item--revers">
				<div class="services__image">
					<img src="../img/services/services-2.jpg" alt="Construction" class="services__image">
				</div>
				<div class="services__content">
					<h3 class="services__title title title--h3">Project Development</h3>
					<p class="services__text main-text">
						Volutpat tellus mauris sit sit. Posuere ut sit vestibulum amet viverra in. Est nulla lectus purus tincidunt massa tortor. Hendrerit vulputate elementum blandit massa vitae amet felis eget.
					</p>
					<a href="#" class="services__link btn-reset btn-stroke btn-stroke--md">Learn more</a>
				</div>

			</div>
			<div class="services__item">
				<div class="services__image">
					<img src="../img/services/services-3.jpg" alt="Construction" class="services__image">
				</div>

				<div class="services__content">
					<h3 class="services__title title title--h3">Interior Design</h3>
					<p class="services__text main-text">
						Eleifend orci massa et facilisis orci feugiat ac. Congue in ut lacus, turpis accumsan gravida. Aliquet mattis dignissim massa sociis a, id bibendum. Egestas lorem eros, mi cras amet, vel eget molestie. Turpis enim arcu, amet donec massa pellentesque nulla duis. Arcu dictum metus sed purus senectus faucibus eget elementum pretium.
					</p>
					<a href="#" class="services__link btn-reset btn-stroke btn-stroke--md">Learn more</a>
				</div>
			</div>
			<div class="services__item services__item--revers">
				<div class="services__image">
					<img src="../img/services/services-4.jpg" alt="Construction" class="services__image">
				</div>
				<div class="services__content">
					<h3 class="services__title title title--h3">Repairs</h3>
					<p class="services__text main-text">
						Facilisis cursus feugiat sit pulvinar amet. Ac facilisi dictum commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id egestas mattis. Turpis viverra nec urna ultrices urna.
					</p>
					<a href="#" class="services__link btn-reset btn-stroke btn-stroke--md">Learn more</a>
				</div>

			</div>
		</div>
	</div>
</section>
