<section class="stages">
	<div class="container">
		<h2 class="stages__title title title--h2">That’s how we do it</h2>
		<div class="stages-list">
			<div class="stages-list__item">
				<div class="circle-1"></div>
				<div class="circle-2"></div>
				<h5 class="stages-list__title title title--h5">Work Estimate</h5>
				<p class="stages-list__descr main-text">
					Culpa nostrud commodo ea consequat aliquip reprehenderit.
				</p>
			</div>
			<div class="stages-list__item">
				<div class="circle-1"></div>
				<div class="circle-2"></div>
				<h5 class="stages-list__title title title--h5">Contract</h5>
				<p class="stages-list__descr main-text">
					Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit imperdiet auctor et tempor.
				</p>
			</div>
			<div class="stages-list__item">
				<div class="circle-1"></div>
				<div class="circle-2"></div>
				<h5 class="stages-list__title title title--h5">Mobilization</h5>
				<p class="stages-list__descr main-text">
					Odio massa scelerisque purus arcu sed velit eleifend cursus leo.
				</p>
			</div>
			<div class="stages-list__item">
				<div class="circle-1"></div>
				<div class="circle-2"></div>
				<h5 class="stages-list__title title title--h5">Construction Work</h5>
				<p class="stages-list__descr main-text">
					Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.
				</p>
			</div>

		</div>

	</div>
</section>
