// для використовування sass-змінних - видалити root

:root {
	// base
	--font-family: "Lato", sans-serif;

	// colors
	--white: #fff;
	--gray-900: #1E212C;
	--gray-800: #424551;
	--gray-700: #787A80;
	--gray-600: #9A9CA5;
	--gray-500: #B3B7BC;
	--gray-400: #D7DADD;
	--gray-300: #E5E8ED;
	--gray-200: #F4F5F6;
	--primary: #F05C37;
	--active: #FC3300;
	--hover: #FC3300;
}
